// Color palette

$dark-gray: #111111;
$lightdark-gray: #222222;
$medium-gray: #555555;
$light-gray: #888888;
$ultralight-gray: #DDDDDD;
$soft-blue: #6699CC;
$soft-pink: #CC99CC;

$button-color: #e2eaee;

// Borders

$border-12: 12px;