@use '../../scss/variables.module.scss' as *;
@use '../../scss/mixins.module.scss' as *;


.navbar {

    background-color: white;
    border: 1px solid lightgray;
    border-radius: 12px;
    width: fit-content;
    padding: 1rem;
    display: flex;
    align-items: center;

    a {
        text-decoration: none;
        color: black;
    }

    ul {
        margin-bottom: 0;
    }

    @include shadows
}

.img {
    width: 400px;
    border-radius: $border-12;
}

.scale_in_center {
    -webkit-animation: scale_in_center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale_in_center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide_in_top {
    -webkit-animation: slide_in_top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s both;
    animation: slide_in_top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s both;
}

@-webkit-keyframes scale_in_center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale_in_center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes slide_in_top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide_in_top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}