* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: whitesmoke !important;
}


/* Grigio scuro (quasi nero): #111111
Grigio scuro: #222222
Grigio medio: #555555
Grigio chiaro: #888888
Grigio molto chiaro: #DDDDDD
Blu tenue: #6699CC
Rosa/Viola tenue: #CC99CC */