@use '../../scss/variables.module.scss' as *;
@use '../../scss/mixins.module.scss' as *;

.logo_img {
    width: 25%;
}

.nav_items {

    @include buttons;

    a {
        text-decoration: none;
        color: black;
    }
}

.searchbar {
    position: relative;

    input {
        width: 100%;
        padding-left: 2rem;
        @include input-text
    }

    .search_icon {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        font-size: 20px;
    }
}

.profile_pic {
    width: 40px;
    height: 40px !important;
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid transparent;
    transition: all 0.2s ease-in;
    cursor: pointer;

    &:hover {
        border: 1px solid black;
    }
}