@use '../../scss/variables.module.scss' as *;
@use '../../scss/mixins.module.scss' as *;


.card {
    background-color: white;
    border-radius: $border-12;
    padding: 1rem;

    @include shadows;

    img {
        width: 416px !important;
        height: 468px !important;
        object-fit: cover;
    }
}

.like {
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
        color: red;
    }
}

.categories {
    background-color: $button-color;
    border-radius: $border-12;
}